@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["BIenvenido"]</h1>
    <p>@localizer["Aprende Más"]</p>
</div>
<div>
    <h3>@ViewBag.Saludo, Emilio Barrrea!</h3>
</div>